@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
   font-family: "Poppins", serif;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  height: 10vh;
  
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  font-size: 1.5rem;
  list-style: none;
}
.menu > li > a {
  text-decoration: none;
  color: whitesmoke;
}
main {
  display: flex;
  height: 85vh;
  background-image: url(marek-piwnicki-UO1hwtGi6zE-unsplash.jpg);
  background-size: cover;
  background-position: center;

}
button {
  padding: 10px 20px;
  border-radius: 20px;
}
.left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 150px;

}
.left > h1 {
  padding-top: 200px;
  font-size: 2.6rem;
}
.left > p {
  font-size: 2rem;
}
.right{
  padding-top: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.right > img {
  height: 400px;
  border-radius: 50%;
  width: 400px;
  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  height: 5vh;
  gap: 10px;
}
footer > a {
  text-decoration: none;
  color: whitesmoke;
}

button>a{
  text-decoration: none;
  color: blue

}
